<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Apply for Loans</title>
  <link rel="stylesheet" href="../../Style/Apply_For_Loans/Apply_For_Loans_Style.css" />
</head>
<body>
  <header>
    <h1>Apply for Loans</h1>
	<button onclick="goBack()" class="back-btn">Back</button>
  </header>
 
  <main>
    <div class="loan-card">
      <h2>Personal Loan</h2>
      <p>Personal Loans are easy-to-get, quick and convenient.</p>
      <button id="apply-btn" class="apply-btn">APPLY NOW</button>
    </div>
 
    <div class="loan-card">
      <h2>Car Loan</h2>
      <p>Have been dreaming of buying a car? Then stop dreaming and click.</p>
      <button id="apply-btn" class="apply-btn">APPLY NOW</button>
    </div>
 
    <div class="loan-card">
      <h2>Home Loan</h2>
      <p>Take a step closer to your dream home with home loans.</p>
      <button id="apply-btn" class="apply-btn">APPLY NOW</button>
    </div>
  </main>
 
  <script src="../../JS/Apply_For_Loans/Apply_For_Loans_JavaScript.js"></script>
</body>
</html>